@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

body {
    height: 100vh;
    background-color: #000000;
    color: #fff;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 0.3px solid rgb(183, 183, 183);
    opacity: 0.2;
}

header {
    font-family: "Playfair Display", serif;
    height: 159px;
    text-align: center;
    padding-block: 42px;
}

header h1 {
    font-size: 44px;
    font-stretch: normal;
    line-height: 50.6px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px;
    letter-spacing: 6.8px;
    color: rgb(183, 183, 183);
    transition: all 0.3s linear;

    &:hover {
        color: #db4f3d;
    }
}

header p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: rgb(183, 183, 183);
    letter-spacing: 5px;
    font-stretch: 100%;
    width: 501px;
    white-space: nowrap;
    margin-inline: auto;
    padding-inline: 18px;
}

nav {
    height: 62px;
    background-color: #000000;
    font-family: "Open Sans", sans-serif;
}

nav ul {
    column-gap: 40px;
}

nav ul li {
    list-style: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    overflow-wrap: break-word;
    line-height: 28px;
    color: rgb(255, 254, 254);
    transition: all 0.3s ease-in;
    white-space: nowrap;

    &:hover {
        color: #db4f3d;
        cursor: pointer;
    }
}

.nav-home {
    color: #db4f3d;
    position: relative;

    &::before {
        content: " ";
        position: absolute;
        height: 2px;
        width: 100%;
        top: -18px;
        background-color: #db4f3d;
    }
}

.collection-icon i {
    font-size: 15px;
    text-align: center;
    padding-left: 5px;
    position: relative;
}

.collection-li-loader {
    display: none;
    height: 100px;
    width: 200px;
    background-color: aqua;
    border: 10px;
    z-index: 10;
    position: absolute;
    top: 218px;
    left: 525px
}

.collection-icon i:hover>.collection-li-loader {
    display: block;
}


.heroSection {
    height: 123vh;
    width: 100%;
    position: relative;
}

.heroSection img {
    height: auto;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.herosection-texts {
    margin-top: 200px;
    height: 145px;
    width: 100%;
    font-family: Roboto, sans-serif;
}

.herosection-texts h3 {
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-wrap: wrap;
    text-align: center;
    color: rgb(153, 153, 153);
}

.herosection-texts .first-h3 {
    line-height: 45px;
    margin-bottom: 45px;
}

.herosection-texts .scnd-h3 {
    margin-bottom: 30px;
}

.heroSection2 {
    margin-top: 115px;
    height: 496px;
    display: flex;
    justify-content: center;
}

.heroSection2-imgHolder {
    height: 100%;
    width: 1010px;
    overflow: hidden;
}

.heroSection2-imgHolder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.socialmedia-Logos {
    height: 400px;
    width: 100%;
    margin-top: 70px;
}

.socialmedia-Logos--logoContainer {
    height: 100%;
    width: 543px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia-Logos--logoContainer-subcontainer {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #355089;
}

.socialmedia-Logos--logoContainer-insatgram {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #262626;
}

.socialmedia-Logos--logoContainer-insatgram i {
    font-size: 28px;
    color: #fff
}

.socialmedia-Logos--logoContainer-linkedIn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #006BA3;
}

.socialmedia-Logos--logoContainer-subcontainer--youtube {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff0000;
}

.size {
    font-size: 25px;
}

footer {
    font-family: "Open Sans", sans-serif;
    height: 100px;
    width: 100%;
    padding-block: 40px;
}

footer p {
    text-align: center;
    font-size: 13px;
    color: rgb(153, 153, 153);
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    padding-bottom: 10px;
}

footer p>span {
    color: rgb(255, 255, 255);
    transition: all .3s ease-in;

    &:hover {
        text-decoration-line: underline;
        text-underline-offset: 2px;
        color: #DB411C;
        cursor: pointer;
    }
}